* {
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
#pg-1 a {
    text-decoration: none;
    color: white;
}
#pg-2 a {
    text-decoration: none;
    color: white;
}
#pg-3 a {
    text-decoration: none;
    color: white;
}
#pg-4 a {
    text-decoration: none;
    color: white;
}
a :hover{
    color: white;
}

.playground-box{
    width: 50%;
    height: 50%;
    text-align: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;

}
#pg-1 {
    padding: 30px;
    background-color: #8A1A4D;
    border-radius: 10px;
    text-align: center;
    margin: 5%;
}
#pg-2{
    padding: 30px;
    background-color: #8A1A4D;
    border-radius: 10px;
    text-align: center;
    margin: 5%;
}
#pg-3 {
    padding: 30px;
    background-color: #8A1A4D;
    border-radius: 10px;
    text-align: center;
    margin: 5%;
}
#pg-4 {
    padding: 30px;
    background-color: #8A1A4D;
    border-radius: 10px;
    text-align: center;
    margin: 5%;
}

  .card {
    margin-bottom: 30px; /* 카드 간의 하단 여백을 설정 */
  }
  